//forms, buttons, dialogs etc.

//main navigation
.horizontal-nav {
  &:extend(.ul-unstyled);

  li {
    display: inline-block;
    margin-left: 15px;

    a {
      .transition();
      display: block;
      border: 2px solid transparent;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px 17px;
      line-height: 1;

      &.active {
        border-color: @accent;
        color:@accent;
      }
      &:hover {
        color:@accent;
      }
    }
  }//li
  
  &.black-font a {
    color: @font;
  }
}

//RESPONSIVE MENU
.main-nav-trigger {
  display: none;
  font-size: 45px;
  color:#fff;
  float: right;
  line-height: 1;
  cursor: pointer;
  transition: color .3s ease-in-out;
  font-family: Arial Unicode MS, Lucida Sans Unicode, sans-serif;
  &:hover {
    color:@accent;
  }
}

@media (max-width:992px) {
  
  .main-nav-trigger {
    display: block;
  }
  
  .main-logo {
    float: left;
  }
  
  .site-nav {
    position: relative;
  }
  
  .site-nav .horizontal-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: @overlay;
    
    li {
      width: 100%;
      display: block;
      margin-left: 0;
      text-align: center;
      border-bottom: 1px solid lighten(@overlay, 5%);
    }
    
    a {
      display: inline-block;
      padding: 20px 30px;
      &.active {
        border-color: transparent;
      }
    }
  }//horizontal-nav
  
}//media 992px

//iframe responsive
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

//buttons

.btn-ghost(@c:#353f46, @c-hover:#fff, @font:1em) {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  color:@c;
  border:2px solid @c;
  transition:all .3s ease-in-out;
  line-height: 1;
  padding: 1.07em 2.857em;
  font-size: @font;
  
  &:hover {
    text-decoration: none;
    color:@c-hover;
    border-color: @c-hover;
  }
}

.btn-ghost-grey {
  .btn-ghost();
}

//FORM

.frm-group {
  margin-bottom: 35px;
}

.frm-control {
  background-color: transparent;
  border:2px solid #fff;
  height: 60px;
  width: 100%;
  padding: 0 15px;
}

textarea.frm-control {
  height: 215px;
}


label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-submit {
  width: 100%;
  background-color: @accent;
  border:none;
  text-transform: uppercase;
  line-height: 1;
  padding: 25px 0;
  font-weight: 600;
  border:2px solid @accent;
  transition:all .3s ease-in-out;
  
  &:hover {
    background-color: transparent;
    color:@accent;
  }
}